Rev6: TLS Identification: SNI

"Implementations SHOULD support the TLS Server Name Indication
   extension ([RFC6066], Section 3).  
"

I wonder whether the requirement should be tweak as follows: clients SHOULD include the server domain name in the SNI extension?