Rev14_Alan:Section 2/3

2.1 nits:

... The algorithm is categorized as Obfuscation in Section 10.5.2 of [RFC8907]. The term should be interpreted to mean "plaintext", it is used to ensure that the algorithm is not mistaken for encryption.

  The obfuscation method is not "plaintext".  Perhaps "while there are no known attacks on this method, it is not known to be secure."

  Similarly in Section 3:

... Confidentiality and Integrity: The MD5 obfuscation specified in [RFC8907] has been shown to be insecure [RFC6151].

  MD5 has been cracked.  But there are no known attacks on the obfuscation method used.

3 item (2):

...     • Peer authentication: The authentication capabilities of TLS replace the pre-shared keys of obfuscation for mutual authentication.

  Perhaps use "shared secret' for consistency with RFC 8907.  "Pre-shared keys" sounds like PSKs used for TLS.

5